{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="fixed flex top-14 md:top-16 w-full z-50" id="alert">
  <div
    class="
    text-center
      w-full
      p-4
      mx-auto
      relative
      text-white
      {{category}}
    "
  >
    {{ message }}
  </div>
</div>
{% endfor %} {% endif %} {% endwith %} {% if error %}
<div class="bg-red-400 text-gray-900 p-2">{{error}}</div>
{% endif %} {% if msg %}
<div class="bg-green-400 text-white p-2">{{msg}}</div>
{% endif %}

<script>
    window.setTimeout("document.getElementById('alert').style.display='none';", 5000)
</script>
