{% extends "base.html" %} {% block content %}
<div class="pt-20 p-4 h-screen">
  <h1 class="text-3xl lg:text-6xl font-semibold uppercase mb-4">Dashboard</h1>
  <div class="h-2/3 overflow-scroll mb-4 shadow">
    <div>
      {% for post in posts|sort(attribute="date", reverse=True)%}
      <div class="bg-gray-100 w-full max-w-screen-sm p-4 shadow-md mb-4">
        <p class="mb-4">"{{post.post}}"</p>
        <div class="flex items-center justify-between text-sm mb-4">
          <span class="font-medium">{{post.date.strftime('%Y-%m-%d')}}</span
          ><span class="font-semibold">- {{post.owner.name}}</span>
        </div>
        {% if post.owner._id == session.user._id %}
        <div class="flex items-center justify-end">
          <a
            href="/posts/edit/{{post._id}}"
            class="bg-blue-400 text-center text-white uppercase mr-4 px-4 py-2"
          >
            Edit
          </a>
          <form action="{{url_for('delete', id=post._id)}}" method="POST">
            <button
              type="submit"
              class="bg-red-400 text-center text-white uppercase px-4 py-2"
            >
              Delete
            </button>
          </form>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% from "partials/_formhelpers.html" import render_field %}
  <form action="{{url_for('create')}}" method="POST">
    <div class="flex flex-col text-sm font-semibold">
      {{render_field(form.post, class_="p-2 mt-1 border mb-2")}}
    </div>
    <div class="flex mb-2">
      <button
        type="submit"
        class="bg-gray-800 text-white uppercase font-medium px-4 py-2 ml-auto"
        value="Submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock %}
