{% extends "base.html" %} {% block content %}
<div class="pt-20 p-4 xl:px-0 h-screen container mx-auto">
  <h1 class="text-3xl lg:text-5xl font-semibold uppercase mb-4 md:py-4 lg:py-8">Dashboard</h1>
  <div class="h-2/3 overflow-scroll mb-4 shadow-lg">
    <div class="grid grid-flow-row gap-4 md:grid-cols-2 lg:grid-cols-3">
      {% for post in posts|sort(attribute="date", reverse=True)%}
      <div class="bg-gray-100 w-full max-w-screen-sm p-4 shadow-md col-span-1">
        <p class="mb-4">"{{post.post}}"</p>
        <div class="flex items-center justify-between text-sm mb-4">
          <span class="font-medium">{{post.date.strftime('%Y-%m-%d')}}</span
          ><span class="font-semibold">- {{post.owner.name}}</span>
        </div>
        {% if post.owner._id == session.user._id %}
        <div class="flex items-center justify-end">
          <a
            href="/posts/edit/{{post._id}}"
            class="bg-blue-400 text-center text-white uppercase mr-4 px-4 py-2"
          >
            Edit
          </a>
          <form action="{{url_for('delete', id=post._id)}}" method="POST">
            <button
              type="submit"
              class="bg-red-400 text-center text-white uppercase px-4 py-2"
            >
              Delete
            </button>
          </form>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="h-1/3 md:py-10">
    {% from "partials/_formhelpers.html" import render_field %}
    <form
      action="{{url_for('create')}}"
      method="POST"
      class="max-w-screen-sm mx-auto"
    >
      <div class="flex flex-col text-sm font-semibold">
        {{render_field(form.post, class_="p-2 my-4 border")}}
      </div>
      <div class="flex mb-4">
        <button
          type="submit"
          class="bg-gray-800 text-white uppercase font-medium px-4 py-2 ml-auto"
          value="Submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<div class="p-4 mg: xl:px-0 container mx-auto mb-12">
  <h1 class="text-3xl lg:text-5xl font-semibold uppercase mb-4 md:py-4 lg:py-8">My Posts</h1>
  <div class="grid grid-flow-row gap-4 md:grid-cols-2 lg:grid-cols-3">
    {% for your in yours|sort(attribute="date", reverse=True) %}
    <div class="bg-gray-100 w-full max-w-screen-sm p-4 shadow-md col-span-1">
      <p class="mb-4">"{{your.post}}"</p>
      <div class="flex items-center justify-between text-sm mb-4">
        <span class="font-medium">{{your.date.strftime('%Y-%m-%d')}}</span
        ><span class="font-semibold">- {{your.owner.name}}</span>
      </div>
      <div class="flex items-center justify-end">
        <a
          href="/posts/edit/{{your._id}}"
          class="bg-blue-400 text-center text-white uppercase mr-4 px-4 py-2"
        >
          Edit
        </a>
        <form action="{{url_for('delete', id=your._id)}}" method="POST">
          <button
            type="submit"
            class="bg-red-400 text-center text-white uppercase px-4 py-2"
          >
            Delete
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
