{% extends "base.html" %} {% block content %}
<!--Hero Image with clip-path overlay-->
<div class="h-screen w-screen relative bg-black">
  <div
    class="
      container
      absolute
      inset-0
      py-36
      lg:py-72
      px-4
      z-10
      mx-auto
      flex flex-col
      lg:flex-row
      items-center
      lg:items-start
      justify-around
    "
  >
    <div class="text-white w-full max-w-screen-sm pt-12">
      <h1 class="text-4xl lg:text-6xl font-semibold uppercase mb-6">ExecBJJ</h1>
      <h3 class="text-2xl lg:text-4xl font-medium mb-12">
        Learn Brazilian Jiu Jitsu with Professional Athletes
      </h3>
    </div>
    <div class="h-auto w-auto max-w-screen-sm bg-gray-200 p-4">
      <h5 class="text-2xl font-medium mb-2">Getting Started</h5>
      <p class="mb-4">
        Our Autumn 2021 courses are beginning soon, enter your details below for
        more information!
      </p>
      <div class="flex flex-col mb-4">
        <label class="text-sm font-semibold mb-1">Name</label>
        <input class="p-2" />
      </div>
      <div class="flex flex-col mb-4">
        <label class="text-sm font-semibold mb-1">Email</label>
        <input class="p-2" />
      </div>
      <div class="flex justify-items-end">
        <button
          class="bg-gray-800 text-white uppercase font-medium px-4 py-2 ml-auto"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <div
    class="
      h-screen
      w-screen
      bg-gray-600
      absolute
      bg-fixed bg-fit bg-cover bg-center
    "
    style="
      clip-path: polygon(0 67%, 100% 40%, 100% 100%, 0% 100%);
      background-image: url({{url_for('static',filename='img/hero.jpg')}});
    "
  ></div>
</div>
<!--Our Service Section-->
<div class="px-4 py-16 container mx-auto" id="service">
  <h1 class="text-3xl lg:text-6xl font-semibold uppercase mb-4">Our Service</h1>
  <p class="mb-8">
    We are a premier coaching service in the art of Brazilian Jiu Jitsu.
    Previously our services have operated exclusively in on-site Corporate
    Wellness but for the first time we are bringing our programme off-site.
  </p>
  <img src="{{url_for('static',filename='img/armbar.jpg')}}" class="mb-8" />
  <p class="mb-8">
    Our classes are designed with world class training in mind and they include:
  </p>
  <p class="mb-4 border-b-2 pb-4">
    Mobility based warm ups designed specifically for BJJ.
  </p>
  <p class="mb-4 border-b-2 pb-4">
    Technical instruction with in-depth details around each technique.
  </p>
  <p class="mb-4 border-b-2 pb-4">
    Specific sparring with Q&amp;A style feedback in-between rounds
  </p>
  <p class="mb-4">Sparring rounds ran in a competition style format.</p>
</div>
<!--Our Process Section-->
<div class="bg-gray-200" id="process">
  <div class="px-4 py-16 container mx-auto">
    <h1 class="text-3xl lg:text-6xl font-semibold uppercase mb-8">
      Our Process
    </h1>
    <img src="{{url_for('static',filename='img/process.jpg')}}" class="mb-8" />
    <div class="border-l border-gray-900 p-4">
      <h3 class="text-xl mb-4">Phase 1</h3>
      <h5 class="text-xl font-semibold mb-4">Definition</h5>
      <p>
        We teach you how to develop your technical understanding and mobility.
        This is designed so that you need no prerequisite knowledge or
        experience to attend.
      </p>
    </div>
    <div class="border-l border-gray-900 p-4">
      <h3 class="text-xl mb-4">Phase 2</h3>
      <h5 class="text-xl font-semibold mb-4">Implementation</h5>
      <p>
        We work on practical strategies for the implementation of what you have
        learned so far both during our live sessions and in your own time.
      </p>
    </div>
    <div class="border-l border-gray-900 p-4">
      <h3 class="text-xl mb-4">Phase 3</h3>
      <h5 class="text-xl font-semibold mb-4">Reviewing</h5>
      <p>
        We use this time to recap what we have learned so far and implement
        deliberate practice to crystallise your understanding.
      </p>
    </div>
    <div class="border-l border-gray-900 p-4">
      <h3 class="text-xl mb-4">Phase 4</h3>
      <h5 class="text-xl font-semibold mb-4">Combination</h5>
      <p>
        This is where the real benefit of the classes begin to show. We work to
        combine the gains in our technical knowledge with resistence training to
        practice a well rounded workout.
      </p>
    </div>
  </div>
</div>
<!--Contact Us Section-->
<div
  style="
      background-image: url({{url_for('static',filename='img/contact.jpg')}});
    "
  class="
    bg-gray-700 bg-no-repeat
    relative
    bg-center bg-cover
    flex
    items-center
    justify-around
  "
  id="contact"
>
  <div class="absolute inset-0 bg-black opacity-50 h-full flex flex-col"></div>
  <div
    class="
      container
      inset-0
      py-16
      px-4
      z-10
      mx-auto
      flex flex-col
      lg:flex-row
      items-center
      justify-around
    "
  >
    <div class="text-white w-full max-w-screen-sm">
      <h1 class="text-3xl lg:text-4xl font-semibold uppercase mb-4">
        Contact Us
      </h1>
      <p class="mb-8">
        Let us help you with anything we can by filling in this form.
      </p>
    </div>
    <div class="h-auto w-full max-w-screen-sm bg-gray-200 p-4 z-10">
      <div class="flex flex-col mb-4">
        <label class="text-sm font-semibold mb-2">Name</label>
        <input class="p-2" />
      </div>
      <div class="flex flex-col mb-4">
        <label class="text-sm font-semibold mb-2">Email</label>
        <input class="p-2" />
      </div>
      <div class="flex flex-col mb-4">
        <label class="text-sm font-semibold mb-2">Your Message</label>
        <input class="p-2 h-20" type="text-area" />
      </div>
      <div class="flex justify-items-end">
        <button
          class="bg-gray-800 text-white uppercase font-medium px-4 py-2 ml-auto"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
