{% extends "base.html" %} {% block content %}
<!--Hero Image with clip-path overlay-->
<div class="min-h-screen w-screen relative bg-black">
  <div
    class="
      container
      absolute
      inset-0
      py-36
      lg:py-72
      px-4
      xl:px-0
      z-10
      mx-auto
      flex flex-col
      lg:flex-row
      items-center
      lg:items-start
      justify-around
    "
  >
    <div class="text-white w-full max-w-screen-sm pt-16">
      <h1 class="text-4xl md:text-6xl font-semibold uppercase mb-4 pt-1">
        ExecBJJ
      </h1>
      <h3 class="text-2xl md:text-4xl font-medium mb-4">
        Learn Brazilian Jiu Jitsu with Professional Athletes
      </h3>
    </div>
    {% from "partials/_formhelpers.html" import render_field %}
    <form
      method="POST"
      action="{{url_for('newsletter')}}"
      class="h-auto w-full max-w-screen-sm bg-gray-200 p-4 flex flex-col"
    >
      <h5 class="text-2xl font-medium mb-2">Getting Started</h5>
      <p class="mb-2">
        Our Autumn 2021 courses are beginning soon, enter your details below for
        more information!
      </p>
      <div class="flex flex-col mb-4 text-sm font-semibold">
        {{render_field(form.name, class_="p-2 mt-1")}}
      </div>
      <div class="flex flex-col mb-4 text-sm font-semibold">
        {{render_field(form.email, class_="p-2 mt-1")}}
      </div>
      <div class="flex">
        <button
          type="submit"
          class="bg-gray-800 text-white uppercase font-medium px-4 py-2 ml-auto"
          value="Submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div
    class="
      min-h-screen
      w-screen
      bg-gray-600
      absolute
      bg-fixed bg-fit bg-cover bg-center
    "
    style="
      clip-path: polygon(0 67%, 100% 40%, 100% 100%, 0% 100%);
      background-image: url({{url_for('static',filename='img/hero.jpg')}});
    "
  ></div>
</div>
<!--Our Service Section-->
<div class="px-4 xl:px-0 py-20 container mx-auto" id="service">
  <div class="grid gap-4 md:grid-cols-2 md:grid-row-2 items-center">
    <div class="pr-8 md:col-span-1 md:row-span-1">
      <h1 class="text-3xl lg:text-4xl font-semibold uppercase mb-8 lg:mb-4">
        Our Service
      </h1>
      <p class="mb-8 lg:mb-4">
        We are a premier coaching service in the art of Brazilian Jiu Jitsu.
        Previously our services have operated exclusively in on-site Corporate
        Wellness but for the first time we are bringing our programme off-site.
      </p>
      <p class="mb-4">
        Our classes are designed with world class training in mind and they
        include:
      </p>
    </div>
    <img
      src="{{url_for('static',filename='img/armbar.jpg')}}"
      class="mb-8 object-cover md:col-span-1 w-full md:row-span-2"
    />
    <p class="mb-8 md:hidden">
      Our classes are designed with world class training in mind and they
      include:
    </p>
    <div
      class="
        grid
        gap-4
        md:grid-cols-4 md:grid-rows-1
        xl:grid-cols-2 xl:grid-rows-2
        mx-auto
        w-full
        md:col-span-2
        md:row-span-1
        xl:col-span-1
      "
    >
      <p class="mb-8 pb-8 pr-4 border-r-2 border-black md:col-span-1">
        Mobility based warm ups designed specifically for BJJ.
      </p>
      <p class="mb-8 pb-8 pr-4 border-r-2 border-black md:col-span-1">
        Technical instruction with in-depth details around each technique.
      </p>
      <p class="mb-8 pb-8 pr-4 border-r-2 border-black md:col-span-1">
        Specific sparring with Q&amp;A style feedback in-between rounds
      </p>
      <p class="mb-8 pb-8 pr-4 border-r-2 border-black md:col-span-1">
        Sparring rounds ran in a competition style format. Multiple rounds with breaks.
      </p>
    </div>
  </div>
</div>
<!--Our Process Section-->
<div class="bg-gray-200" id="process">
  <div class="px-4 xl:px-0 py-20 container mx-auto">
    <h1 class="text-3xl font-semibold uppercase mb-12 lg:hidden">
      Our Process
    </h1>
    <div class="lg:flex">
      <img
        src="{{url_for('static',filename='img/process.jpg')}}"
        class="mb-12 lg:w-7/12 object-cover"
      />
      <div class="lg:grid lg:grid-rows-10 lg:grid-cols-2 lg:pl-8">
        <h1
          class="
            text-3xl
            lg:text-4xl
            font-semibold
            uppercase
            lg:pl-4
            md:col-span-2
            lg:row-span-1
            hidden
            lg:block
          "
        >
          Our Process
        </h1>
        <div
          class="
            border-l border-gray-900
            p-4
            lg:border-0
            lg:col-span-1
            lg:row-span-3
          "
        >
          <h3 class="text-xl mb-4">Phase 1</h3>
          <h5 class="text-xl font-semibold mb-4">Definition</h5>
          <p>
            We teach you how to develop your technical understanding and
            mobility. This is designed so that you need no prerequisite
            knowledge or experience to attend.
          </p>
        </div>
        <div
          class="
            border-l border-gray-900
            p-4
            lg:border-0
            lg:col-span-1
            lg:row-span-3
          "
        >
          <h3 class="text-xl mb-4">Phase 2</h3>
          <h5 class="text-xl font-semibold mb-4">Implementation</h5>
          <p>
            We work on practical strategies for the implementation of what you
            have learned so far both during our live sessions and in your own
            time.
          </p>
        </div>
        <div
          class="
            border-l border-gray-900
            p-4
            lg:border-0
            lg:col-span-1
            lg:row-span-3
          "
        >
          <h3 class="text-xl mb-4">Phase 3</h3>
          <h5 class="text-xl font-semibold mb-4">Reviewing</h5>
          <p>
            We use this time to recap what we have learned so far and implement
            deliberate practice to crystallise your understanding.
          </p>
        </div>
        <div class="border-l border-gray-900 p-4 lg:border-0 lg:col-span-1">
          <h3 class="text-xl mb-4">Phase 4</h3>
          <h5 class="text-xl font-semibold mb-4">Combination</h5>
          <p>
            This is where the real benefit of the classes begin to show. We work
            to combine the gains in our technical knowledge with resistence
            training to practice a well rounded workout.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Contact Us Section-->
<div
  style="
      background-image: url({{url_for('static',filename='img/contact.jpg')}});
    "
  class="
    bg-gray-700 bg-no-repeat
    relative
    bg-center bg-cover
    flex
    items-center
    justify-around
  "
  id="contact"
>
  <div class="absolute inset-0 bg-black opacity-50 h-full flex flex-col"></div>
  <div
    class="
      container
      inset-0
      py-20
      px-4
      z-10
      mx-auto
      flex flex-col
      lg:flex-row
      items-center
      justify-around
    "
  >
    <div class="text-white w-full max-w-screen-sm">
      <h1 class="text-3xl lg:text-4xl font-semibold uppercase mb-4">
        Contact Us
      </h1>
      <p class="mb-8">
        Let us help you with anything we can by filling in this form.
      </p>
    </div>
    {% from "partials/_formhelpers.html" import render_field %}
    <form
      method="POST"
      action="{{url_for('contact')}}"
      class="h-auto w-full max-w-screen-sm bg-gray-200 p-4 flex flex-col"
    >
      <div class="flex flex-col text-sm font-semibold">
        {{render_field(contact.name, class_="p-2 my-4")}}
      </div>
      <div class="flex flex-col text-sm font-semibold">
        {{render_field(contact.email, class_="p-2 my-4")}}
      </div>
      <div class="flex flex-col text-sm font-semibold">
        {{render_field(contact.message, class_="p-2 my-4 border")}}
      </div>
      <div class="flex">
        <button
          type="submit"
          class="bg-gray-800 text-white uppercase font-medium px-4 py-2 ml-auto"
          value="Submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
